<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>Dy_Engrave</name>
    <displayName><![CDATA[Engrave]]></displayName>
    <version><![CDATA[0.3.0]]></version>
    <description><![CDATA[Additional engraving for products.]]></description>
    <author><![CDATA[Deykun]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
